@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #191d2b;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
  }
  
  .dark body {
    background-color: #ffffff;
    color: #1f2937;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

