@media screen and (max-width:480px){
    header{
        padding: 0;
    }
    header .right-header{
        padding: 1rem !important;
    }

    .header-content{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
        .image{
            img{
                border-radius: 8px !important;
            }
        }
    }

    .right-header{
        grid-row: 1;
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

}


@media screen and (max-width:767px){
    header{
        padding: 0;
    }
    header .right-header{
        padding: 1rem !important;
    }

    .about-container{
        grid-template-columns: 1fr;
        .right-about{
            grid-template-columns: 1fr;
            padding: 2.5rem;
        }
        .left-about{
            padding-right: 0;
            p{
                padding-left: 0;
            }
            .btn-con{
                justify-content: center;
            }
        }
    }

    .timeline{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .about-stats{
        .progress-bars{
            grid-template-columns: 1fr;
        }
    }

    .portfolios{
        grid-template-columns: 1fr;
        padding-bottom: 6rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .section{
        padding: 2rem 2.5rem !important;
    }

    .main-title{
        h2{
            font-size: 2rem;
            span{
                font-size: 2rem;
            }
            .bg-text{
                font-size: 3rem;
            }
        }
    }

    .controlls{
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        .control{
            margin: .1rem;
        }
    }
}

@media screen and (max-width:970px){
    
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
}

@media screen and (max-width:1024px){
    header{
        padding: 0 !important;
    }

    .section{
        padding: 7rem 11rem;
    }
    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
}